.rbc-header {
  background: blue;
  color: white;
  padding: 4px;
  font-weight: bold;
}

.rbc-event {
  padding: 0 !important;
  font-size: 16px;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  /* background-color: blueviolet !important; */
}
