.rbc-header {
  background: #79b8e4;
  color: white;
  padding: 10px;
  font-size: 12px;
}

.rbc-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent !important;
  z-index: 2;
  position: relative;
}

.rbc-background-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-timeslot-group {
  min-height: 120px !important;
}

.rbc-day-slot .rbc-time-slot:after {
  content: "";
  width: 100%;
  border-top: 1px solid lightblue;
  display: block;
}

.rbc-time-slot {
  background: #eaf3fa;
  color: #74a4c3;
  z-index: 1;
}

.rbc-addons-dnd-resizable {
  height: 100%;
  width: 100%;
}
