.rbc-header {
  color: white;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  background: #17405d;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-today {
  background-color: #04aa6d !important;
}

.rbc-time-slot {
  color: #74a4c3;
  z-index: 1;
}

.rbc-time-slot:not(.rbc-today .rbc-time-slot) {
  background-color: #eff4f7;
}

/*Event Styles*/
.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px !important;
  border: none !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;
}

/*Timeslots Customization*/
.rbc-day-slot .rbc-time-slot:after {
  content: "";
  width: 100%;
  border-top: 1px solid #fbb3ec;
  display: block;
}
